<!-- Inschrijven Reunie -->

    <aside class="clients" class="bg-light-gray" id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Inschrijven</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <p>Inschrijven kan door 50 euro per persoon over te schrijven naar BE84 6528 2306 2159
                voor <i>6 juli 2018</i>.</p>
                <p><i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i> Jouw plaats aan de feestdis is pas verzekerd na ontvangst van betaling.</p>
              </div>

            </div>
        </div>
    </aside>
